:root {
  font-family: Inter, sans-serif;
  font-feature-settings:
    "liga" 1,
    "calt" 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}
body {
  margin: 0;
  font-family: inherit;
  background-color: rgba(0, 0, 0, 0.944);
}
.hi {
  background-image: url("https://www.mintlify.com/hero/bg-dark.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 3rem;
}
.navigation {
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  padding: 16px 24px;
  border: auto;
}
.nav-element {
  justify-items: center;
  display: flex;
  gap: 30px;
  color: white;
  margin-left: 42px;
  padding-left: 70px;
}
.nav-contact {
  border-radius: 30px;
  padding: 7px 12px;
  color: white;
  background-color: rgb(255 255 255 / 7%);
  border: none;
  width: auto;
  font-size: 15px;
}
.nav-start_for_free {
  border-radius: 40px;
  background-color: white;
  padding: 7px 12px;
  font-size: 15px;
}
.hero-header {
  color: white;
  background-color: lab(100 0 0 / 0.15);
  border-radius: 30px;
  height: 32px;
  width: 390px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.hero-div {
  display: flex;
  justify-content: center;
  padding-top: 35px;
}
.new {
  color: white;
  border-radius: 10px;
  padding: 2px 8px;
  border-style: none;
  background-color: lab(51.3415 -41.5657 15.3527);
}
.hero-span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  height: 30px;
  width: 380px;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  margin-top: 2.5rem;
  height: 40vh;
  width: 35vw;
  margin: auto;
}

.hero-section h1 {
  font-size: 4rem;
  font-weight: 500;
  margin: 0%;
  text-align: center;
}

.hero-section p {
  font-size: 1.2rem;
  font-weight: 300;
  margin: 0%;
  text-align: center;
  width: 70%;
}

.email {
  padding: 0.2rem;
  background-color: rgba(255, 255, 255, 0.285);
  border: 0.5px solid rgba(255, 255, 255, 0.31);
  border-radius: 30px;
  width: 59%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 1.7rem;
}

.email input {
  border: none;
  outline: none;
  background-color: transparent;
  color: black;
  padding-left: 0.8rem;
  flex: 1;
}

.email input::placeholder {
  color: rgba(255, 255, 255, 0.416);
  font-weight: 300;
}

.email button {
  margin: 0%;
  padding: 0.3rem 0.7rem;
  border-radius: 30px;
  border: none;
}

.email button:hover {
  background-color: rgba(255, 255, 255, 0.412);
  transition: all;
  transition-duration: 100ms;
}
.sec-img img {
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.125);
  margin-top: 3.5rem;
}

.companies {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: auto;
  place-items: center;
  max-width: 60vw;
  margin-top: 4rem;
}

.s-head {
  margin-top: 10rem;
}

.s-head h1 {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
}

.s-head p {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35vw;
  margin: auto;
  text-align: center;
  font-size: 16px;
  margin-bottom: 3rem;
}
.container {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 62vw;
  gap: 1rem;
  margin: auto;
}

.container div {
  height: 32rem;
  border: solid rgba(255, 255, 255, 0.127) 1px;
  color: white;
  border-radius: 20px;
  background-color: rgb(10, 10, 10);
  padding: 1rem 2rem;
}

.container img {
  width: 100%;
  object-fit: cover;
}
.container h4 {
  color: lab(79.9844 -59.6292 22.5096);
  font-size: 0.8rem;
  font-weight: 400;
  font-family: monospace;
}

.container h2 {
  font-weight: 500;
  font-size: 1.5rem;
}
.card p {
  width: 80%;
  color: rgb(186, 177, 177);
}

#third p {
  width: 48%;
  color: rgb(186, 177, 177);
  text-align: center;
}

#third {
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40rem;
}

.intelligence-section {
  margin-bottom: 8rem;
}
.client {
  background-color: black;
  padding: 5rem 0;
}
.enterprise {
  color: white;
  width: 62%;
  margin: auto;
}
.e-top {
  position: relative;
}
.e-top h4 {
  color: lab(79.9844 -59.6292 22.5096);
  font-size: 0.8rem;
  font-weight: 400;
  font-family: monospace;
}
.e-top h2 {
  font-weight: 500;
  font-size: 2.2rem;
  width: 35%;
  margin: 0;
}
.e-top p {
  width: 80%;
  color: rgb(186, 177, 177);
}
.e-top button {
  padding: 0.6rem 1.2rem;
  border-radius: 50px;
  border: none;
  outline: none;
  position: absolute;
  right: 0;
  bottom: 0;
}
.e-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 3.4rem;
  gap: 2.4rem;
}
.e-content svg {
  height: 30px;
  color: lab(79.9844 -59.6292 22.5096);
}
.e-content h3 {
  font-weight: 500;
  font-size: 1.4rem;
}
.e-content p {
  color: rgb(186, 177, 177);
}
.e-img {
  border-radius: 25px;
  background-image: url("https://www.mintlify.com/enterprise/anthropic.svg");
  background-size:cover;
  height: 35vh;
  background-repeat: no-repeat;
  margin-top: 3.2rem;
  color: white;
  padding: 2rem 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.e-img svg {
  height: 12px;
  transform: rotate(-90deg);
}
.e-img h3 {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  gap: 0.2rem;
  margin-top: 2rem;
}
.e-img h4 {
  font-size: 0.7rem;
  font-family: monospace;
}
.e-img h2 {
  width: 35%;
  font-weight: 500;
}
.users {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 55%;
}
.users p {
  color: rgb(186, 177, 177);
}
.users h1 {
  font-weight: 400;
}
.c-bottom{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  place-items: center;
  filter: grayscale(1);
  width: 90%;
  margin: auto;
  margin-top: 3rem;
}
.c-feedback{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 4rem 0rem;
}
.c-feedback h4{
  font-size: 0.87rem;
  font-family: monospace;
  color: lab(79.9844 -59.6292 22.5096);
  font-weight: 400;
}
.c-feedback h2{
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 0;
}
.c-feedback p{
  color: rgb(186, 177, 177);
  width: 36%;
  text-align: center;
}
.c-cards{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1.2rem;
  width: 80%;
  margin: auto;
  color: rgb(186, 177, 177);

}
.c-cards div{
  width: 25vw;
  position: relative;
  height: 28rem;
}
.c-cards svg{
  transform: rotate(-90deg);
  height: 15px;
}
.c-cards h3{
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  font-size: 1rem;

}
.c-cards img{
  object-fit: cover;
  width: 100%;
  border-radius: 15px;
  
}
.documentation{
  padding: 8rem 0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  

}
.documentation h1{
  width: 55%;
  margin: auto;
  font-size: 2rem;
  font-weight: 500;
}
.documentation button{
  margin-top: 2rem;
}
#b1{
  padding:0.8rem 1.2rem;
  border-radius: 50px;
  font-size: 1rem;
}
#b2{
  background-color: black;
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.26);
  padding: 0.6rem 1rem;
  border-radius: 50px;
}
.last{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin-top: 5rem;
}
.last svg{
  color: lab(79.9844 -59.6292 22.5096);
  height: 3rem;
}
.last div{
  padding: 0rem 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.last div:first-child{
  border-right: 1.5px solid rgba(255, 255, 255, 0.095);
}
.last h4 svg{
  transform: rotate(-90deg);
  height: 15px;
}
.last h4{
  display: flex;
  align-items: center;
  color: lab(79.9844 -59.6292 22.5096);
  font-weight: 500;
}

.last h3{
  color: rgb(186, 177, 177);
  margin: 0;
  margin-bottom: 2.5rem;
}
.documentation{
  border-bottom: 1.2px solid rgba(255, 255, 255, 0.109);
}
.footer{
  width: 65%;
  margin: auto;
}
#f-head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1rem;

}
#svg svg{
  margin-left: 1rem;
  color: white;
}
#f-head{
  border: 1.2px solid rgba(255, 255, 255, 0.147);
}
#p-div{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 1rem;
  padding: 2.5rem 1rem;
  border: 1.2px solid rgba(255, 255, 255, 0.189);
  
}
#p-div h1{
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.309);
    font-weight: 400;
  }
  #p-div h4{
    color: rgba(255, 255, 255, 0.798);
    font-weight: 500;
  }